#desc {
  position : absolute;
  top: 5px;
  left: 5px;
}

.container{
  width: 50%;
  height: 50%;
  background: 'white';
}

/*.canvas-container{
  margin-left: 300px;
}
*/
.drawing-area{
  width: 800px !important;
  height: 500px !important;
}

.manual_grid.row {
  display: flex;
  vertical-align: middle;
  padding: 0 20px;
  margin: 0 auto
}

.button_left, .button_right {
  margin-top: 209px;
  padding: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
